<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chatty</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../public/index.js"></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'>
  </link>
  <link href='/public/index.css' rel='stylesheet' type='text/css'>
  </link>
</head>

<body>
  <form class="username-form">
    <input id="username-input" placeholder="Username"></input>
    <button id="create-user-btn">Join Chat</button>
  </form>

  <div class="main-container">
    <div class="channels-and-users-online-container">
      <h1 class="brand">Make Chat</h1>
      <div class="channels">
        <h2 class="channels-label">Channels</h2>
        <div class="new-channel-form"><input id="new-channel-input" placeholder="New Channel" /><button
            id="new-channel-btn">Create</button></div>
        <div class="channel-current">General</div>
      </div>
      <h2>Online Users</h2>
      <div class="users-online"></div>
      <button id="logout-btn">Logout</button>
    </div>
    <div class="chat-container">
      <div class="chat-container-fluid">
        <div class="message-container">
          <h2>Messages</h2>
        </div>
        <div class="text-chat-divide"></div>
        <div class="chat-box"><textarea id="chat-input" placeholder="Type a message"></textarea><button class="btn"
            id="send-chat-btn">Send</button></div>
      </div>
    </div>
  </div>
</body>

</html>