<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chatty</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../public/index.js"></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'>
  </link>
  <link href='/public/index.css' rel='stylesheet' type='text/css'>
  </link>
</head>

<body>
  adwdaw
  <form class="username-form">
      <input id="username-input" placeholder="Username"></input>
    </form>
</body>

</html>