<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatty</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/index.js"></script>
  </head>
  <body>
    <h1>Socket.io</h1>
    <p>maaaewea</p>
  </body>
</html>

